{% extends "game/base.html" %}
{% block content %}
  <a href="{% url 'game-decks-update' deck.id %}" class="ml-01p">
   <div class="button">
      <span class="button__mask"></span>
      <span class="button__text">edit</span>
      <span class="button__text button__text--bis">edit</span>
    </div></a>
  <div class="card_div">
  {% for card in object.cards.all %}
    {% include "game/card_front.html" %}
  {% empty %}
    <li>You have no decks, click on the button bellow to create one</li>
  {% endfor %}

  </div>
{% endblock %}

