<div id="gameboard_opponent">

  <div id="oponent_space_deck" class="gameboard_space">
    <div class="card card_back"></div>
  </div>
  <div id="oponent_space_magic_1" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="oponent_space_magic_2" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="oponent_space_magic_3" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="oponent_space_magic_4" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="oponent_space_graveyard" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="oponent_space_monster_1" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="oponent_space_monster_2" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="oponent_space_monster_3" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="oponent_space_monster_4" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<div id="gameboard">
  <div id="space_graveyard" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="space_monster_1" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="space_monster_1" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="space_monster_1" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="space_monster_1" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="space_deck" class="gameboard_space">
    <div class="card_back">
    </div>
  </div>
  <div id="space_magic_1" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="space_magic_2" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="space_magic_3" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
  <div id="space_magic_4" class="gameboard_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
</div>
<div id="hand_user">
  <div class="hand_space">
    <div class="card card_front">
      <div class="card_image"></div>
      <div class="card_text">
      </div>
    </div>
  </div>
</div>

</div>
<script src="/static/game.js">
</script>
